<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TodoTask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
    <div class="container-fluidr mt-4" style="background: beige">


        <script>
            function doAjax() {
                var searchQuery = document.getElementById("search_input").value;
                // var searchDeadline = document.getElementById("search_deadline").value;
                $.ajax({
                    url: "/tasks/search_title",
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        format: 'json',
                        title: searchQuery,
                        // deadline: searchDeadline,
                    }
                    , success: (function (data) {
                        $('#info').empty();

                        for (let elem of data) {
                            var $title = $('<h1>').text(elem['title']);
                            var $description = $('<p>').text(elem['description']);
                            $('#info')
                                .append($title)
                                .append($description);
                        }
                    })
                });
            }
        </script>

        <form>
            <label for="search_input">Search:</label>
            <p><input type="text" id="search_input" name="title">Title</input></p>
<!--            <p><input type="text" id="search_deadline" name="deadline">Deadline</input></p>-->
            <button onclick="doAjax()" type="button">GO</button>
        </form>
        <div id="info"></div>

        <div class="mt-4 ml-3">
            <h6>Поиск по title</h6>
            <form method="get" action="search">
                <input class="btn-get-list" type="text" name="title"/>
                <input class="btn-get-list" type="submit" value="Search"/>

            </form>
        </div>
        количество задач
        <h6>В списке (<span th:text="${tasksCount}">0</span> tasks) задач</h6>

        <!--<b th:text="${message}"></b>-->
        <!--цикл задач-->
        <h5 class="mt-4 ml-3">Список задач</h5>

        <div>
            <table class="table table-hover">
                <tr>
                    <th>Id</th>
                    <th>Описание</th>
                    <th>Статус</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="task: ${tasks}">
                    <td th:text="${task.getId()}"></td>
                    <td><b>Просмотр: </b><a th:href="@{/{todoId}(todoId=${task.id})}"
                                            th:attr="data-id=${task.id}"
                                            th:text="${task.description}"></a></td>
                    <td th:text="${task.getStatus()}"></td>

                    <td>
                    </td>
                </tr>
            </table>

        <div id="task-list">
            <div th:each="task : ${tasks}">
                <ul class="list-group">
                    <li class="list-group-item" style="background: beige">
                        <!--<b>Срок исполнения</b>
                        <b th:text="${task.deadline}"></b>-->
                        <b> Приоритет </b>
                        <b th:text="${task.getStatus}"></b>
                        <span class="float-right mr-3"><b>Название: </b><a th:href="@{/{todoId}(todoId=${task.id})}"
                                                                           th:attr="data-id=${task.id}"
                                                                           th:text="${task.getDescription()}"></a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <!--цикл задач-->

    </div>
</div>
</body>
</html>