<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TaskPut</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>

</head>
<body>

<div class="container">
    <div class="container-fluidr mt-4" style="background: beige">
        <br><br>
        <h5 class="lt=4"><span th:text="${todoTask.Id}"></span> -Id</h5>
        <div th:if="${view}">
            <h5 class="lt=4"><span th:text="${title}"></span></h5>
            <form action="#" th:action="@{/put/{todoId}(todoId=${todoTask.id})}" th:object="${todoTask}"
                  method="post">
                <p>Description: <textarea name="description" cols="40" rows="3" th:field="*{description}"></textarea>
                </p>
                <p>Status: <select type="text" th:field="*{status}"/></p>
                <option>IN_PROGRESS</option>
                <option>DONE</option>
                <option>PAUSED</option>
                </select>
                <p><input type="submit" value="Save"/> <input type="reset" onclick="location.href='/' " value="Reset"/>
                </p>
            </form>
        </div>
        <br><br><br>
        <!-- кнопка выхова окна-->

        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Редактировать
        </button>
        <!--Модальное окно-->

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Редактировать</h4>
                    </div>
                    <div class="modal-body">
                        <div th:if="${view}">
                            <form action="#" th:action="@{/put/{todoId}(todoId=${todoTask.id})}" th:object="${todoTask}"
                                  method="post">
                                <p>Description: <textarea name="description" cols="40" rows="3"
                                                          th:field="*{description}"></textarea>
                                </p>
                                <p>Status: <select type="text" th:field="*{status}"/></p>
                                <option>IN_PROGRESS</option>
                                <option>DONE</option>
                                <option>PAUSED</option>
                                </select>
                                <div>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>-->
                            </form>
                        </div>
                    </div>
                    <!--<div class="modal-footer">
                        <button type="button" class="btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn-danger" value="Submit">Save changes</button>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>